@import "styles/varmix";
@import "styles/footer";
@import "styles/navbar";

*{
	font-family: 'OpenSans-Condensed' Helvetica;
}

body{
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

@font-face {
  font-family: "bebas___-webfont";
  src: url("../font/bebas___-webfont.ttf");
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../font/HelveticaNeue.ttf");
}

.linea_pink{
	height: 6em;
	background-color: $light;
	width: $hundred;
	position: absolute;
	z-index: -10;
}
.line{
	background-color: $white !important;
}
#skills{
	@include skills;
}
#blogs{
	.titles{
		@include titles;
	}
	.style-blog{
		@include style_blogm;
	}
}
#recent_works{
	.titles{
		@include titles;
	}
	.style-blog{
		@include style_blogm;
	}
}

#seccion_name{
    color: $white;
    background-color: $light;
    .base {
        background-color: $white;
    }
 }
.bg-jam{
	background-color: $jamoncito;
	font-family: "bebas___-webfont" !important;
}

.txt-jam{
	color: $jamoncito;
	font-family: "bebas___-webfont" !important;}

.formulario{
	position: relative;
	bottom: 9em;
	left: 2em;
}
.formulario
	input{
		margin-bottom: 0.5em;
		border: 1px solid $salmon
	}
.blog-img{
	position: relative;
	right:20px;
}
.bg-gray{
	background-image: url('../images/quote_bg.png');
	width: 100%;
	padding: 1em;
	margin: 3em 1em;
}
